.yaca-vcenter {
  position: fixed;
  width: 100%;
  top: 50%;
}

html, body, .yaca-app, div.yaca-app>div {
  height: 100%
}

.yaca-dialog-view {
  height: 100%
}

.yaca-message-view {
  height: 80%;
  overflow-y: scroll;
}

.yaca-message-box {
    position: fixed;
    width: 100%;
    bottom: 15px;
}
